<div class="task">
  <i class="material-icons">assignment_turned_in</i>
  <p class="info"><span>@michael</span> assigned you a task:</p>
  <div class="bottom">
      <h6>Write complete report on pitch deck.</h6>
      <span class="deadline">
        <i class="material-icons">access_time</i>
        <span>Monday 9am</span>
      </span>
      <br>
      <span class="people"><i class="material-icons">face</i>+2</span>
      <button class="btn btn-outline-success btn-sm">Complete</button>
      <button class="btn btn-outline-secondary btn-sm">Edit task</button>
  </div>
</div>