<div class="group-card mx-auto"  (click)="navigate()" (contextmenu)="groupRightClick()"
  [popper]="GroupDropdown"
  [popperShowOnStart]="false"
  [popperHideOnScroll]="true"
  [popperPlacement]="'bottom'"
  [popperApplyClass]="'popper'"
  [popperDisableStyle]="true"
  >
  
  <img class="grp-img" src="{{data.image}}">
  <span class="grp-name">{{data.name}}</span>
  <span class="grp-title">{{data.title}}</span>
  <span class="grp-time">{{data.time}}</span>
  <span class="grp-msg">{{data.lastText}}</span>
  <div class="grp-info text-center">{{data.notificationCount}}</div>
</div>

<!-- Dropdown menu -->
<popper-content #GroupDropdown [ngClass]="popper" (clickOutside)="clickOutPopper()">
  <div class="">
      <h6>Mute team</h6>
      <h6>Mark as read</h6>
      <h6 (click)="openInNewTab()">Open in new tab</h6>
      <h6>Exit team</h6>
  </div>
</popper-content>