.profilepage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 70px;
    right: 0;
    overflow: auto;
    overflow-x: hidden;
}
.profilepage .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    height: 200px;
}
.profile {
    display: flex;
    background-color: rgba(221, 221, 221, 0.3);
}

.leftColumn {
    flex: 1;
}

.rightColumn {
    flex: 1;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.one img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.one button {
    background-color: #fafafa;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 20px;
    cursor: pointer;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.247);
    color: rgba(0, 0, 0, 0.445);
}
.one button i {
    vertical-align: sub;
    font-size: 20px;
    margin-right: 7px;
}
.one button span {
    font-size: 15px;
    font-weight: 700;
}

.two {
    display: flex;
    padding-left: 60px;
    user-select: none;
}
.two div {
    flex: 1;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}
.two div h6 {
    font-size: 22px;
    color: slateblue;
    cursor: pointer;
    width: min-content;
}

.three {
    padding: 0 35px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
}
.three h6 {
    font-size: 14px;
}
.three h6 i {
    vertical-align: sub;
    margin-right: 5px;
    font-size: 19px;
}
.three .url i {
    color: rgba(0, 0, 0, 0.6);
}
.three .url a {
    color: #0645AD;
    cursor: pointer;
    width: max-content;
    font-weight: 400;
    margin-left: 3px;
}
.four {
    padding: 0 35px;
    margin-top: 30px;
}
.four h5 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.four h5 i {
    vertical-align: sub;
    font-size: 18px;
}
.four .skill-container {
    margin-top: 10px;
}
.four .skill-container .skill {
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 0 10px;
    border-radius: 7px;
    margin: 0 10px 10px 0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    cursor: default;
}
.four p {
    font-size: 12px;
    color: #0645AD;
    font-weight: 500;
    cursor: pointer;
    width: max-content;
    margin-left: 2px;
}





/* Center Column */
.centerColumn {
    flex: 2;
    background-color: #fafafa;
}

.centerColumn .topbar {
    padding: 20px 20px 0 20px;
}
.centerColumn .topbar h1 {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    display: inline-block;
}
.centerColumn .topbar h2 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
}
.centerColumn .topbar h6 {
    font-size: 14px;
    width: 70%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    max-height: 43px;
    overflow: hidden;
}


.c-navbar {
    margin: 20px;
    display: flex;
    flex-direction: row;
    user-select: none;
}
.c-navbar .nav-opt {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(221, 221, 221, 0.4);
    padding-top: 5px;
    cursor: pointer;
}
.c-navbar .nav-opt:hover {
    color: rgba(0, 0, 0, 0.5);
}
.c-navbar .nav-opt i {
    font-size: 32px;
}
.c-navbar .nav-opt-last i {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}
.c-navbar .nav-opt h6 {
    font-size: 13px;
}

.selected-nav-opt {
    color: slateblue !important;
}


.c-one {
    padding: 20px;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}
.c-one .lead-1 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}
.c-one .experience {
    display: flex;
}

.c-one .experience .e-left i {
    font-size: 30px;
    padding: 8px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.7);
    color: #ddd;
    border-radius: 2px;
}
.c-one .experience .e-right {
    padding: 5px;
    margin-left: 10px;
    flex-grow: 1;
}
.c-one .experience .e-right .pos {
    color: rgba(0, 0, 0, 0.8);
}
.c-one .experience .e-right .name {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}
.c-one .experience .e-right .timespan {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;

}
.c-one .experience .e-right .timespan i {
    font-size: 3px;
    vertical-align: middle;
    color: grey;
    margin: 0 4px;
}
.c-one .experience .e-right .location {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.c-one .experience .e-right .team {
    line-height: 16px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.c-one .experience .e-right .team h6 {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 0 0;
    color: #0645AD;
    cursor: pointer;
}
.c-one .experience .e-right .description {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}
.c-one .experience .e-right .media {
    padding: 10px 0;
}
.c-one .experience .e-right img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}
.c-one .experience .e-right .link a {
    font-weight: 400;
    color: #0645AD;
    cursor: pointer;
    font-size: 14px;
}





.feed {
    margin: 0;
}
.feed .posts {
    margin: 40px 0px;
}



.c-ctr {
    padding: 10px;
}
.lead-2 {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin: 0;
}
.skill-ctr {
    padding: 5px 0;
}
.skill-ctr .skil {
    width: 50%;
    display: inline-block;
    padding: 5px 0;
    font-weight: 500;
}

.lang {
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.lang i {
    font-size: 4px;
    vertical-align: middle;
}

.achievement {
    display: flex;
    margin-top: 5px;
}
.achievement .a-left {
    margin: 0;
}
.achievement .a-left i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 5px;
}
.achievement .a-right {
    margin-left: 5px;
}
.achievement .a-right .name {
    font-size: 16px;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}
.achievement .a-right .event {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    display: inline-block;
}
.achievement .a-right .year {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    margin-left: 5px;
}
.achievement .a-right .desc {
    font-size: 13px;
}