<div class="container">
  <div class="col-md-5 mx-auto col-1">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="progressValue" role="progressbar"></div>
      </div>
    <div class="card text-center">
      <!-- progress bar -->
      <h2 class="text-brand">Bind</h2>
      <br>
      <span class="h5-1">Sign-in to WorkSpace</span>
      <br>
      <form [formGroup]="login1" (ngSubmit)="submit1()" *ngIf="!submitted1">
          <input formControlName="username" class="form-control input-1" type="text" placeholder="Username, Email or Phone no.">
          <br>
          <a href="" class="float-left link-2">Forgot Password?</a>
          <br>
          <hr>
          <span class="text-left" class="auth-1">Authorize Bind via mobile app. <i class="material-icons auth-icon">fingerprint</i></span> 
          <a href="" class="float-left link-1">Learn more</a>
          <div class="action-ftr">
            <a href="" class="float-left link-2">Create Account</a>
            <button type="submit" class="btn-info submit-btn">Next</button>
          </div>
      </form>
      <form [formGroup]="login2" (ngSubmit)="submit2()" *ngIf="submitted1">
        <div class="text-left">
            <app-avatar name="{{user.name}}" size="medium" title="{{user.title}}" image="{{user.img}}"></app-avatar>
            <br>
        </div>
        <input type="password" formControlName="password" class="form-control input-1" placeholder="Password">
        <br>
        <div style="margin-bottom: 117px;">
          <a href="" class="float-left">Forgot password?</a>
          <button type="submit" class="btn-info submit-btn">Next</button>
        </div>
      </form>
    </div>
    <div class="bottom-div">
      <span class="bottom">Terms</span>
      <span class="bottom">Privacy</span>
      <span class="bottom">Help</span>
    </div>
  </div>
</div>