.dm-card {
    width: 90%;
    height: 50px;
    margin: 10px 0;
    -webkit-box-shadow: 0px 2px 22px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 22px -5px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 22px -5px rgba(0,0,0,0.6);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border-left: 3px solid #fff;
}
.dm-card:hover {
    border-left: 3px solid rgb(61, 45, 115);
    background-color: rgba(221, 221, 221, 0.3);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dm-card:focus {
    outline: none;
}



.dm-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    top: 12px;
    left: 10px;
}
.dm-name {
    font-size: 14px;
    font-weight: 500;
    position: absolute; 
    top: 8px;
    left: 50px;
    opacity: 0.8;
}
.dm-time {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 12px;
    opacity: 0.3;
}
.dm-msg {
    position: absolute;
    bottom: 5px;
    left: 50px;
    right: 40px;
    font-size: 14px;
    opacity: 0.5;
    overflow: hidden;
}
.dm-info {
    height: 12px;
    width: 12px;
    background-color: rgba(255, 68, 0, 0.8);
    color: white;
    font-size: 8px;
    line-height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: 10px;
}