<div class="separator" *ngIf="separator">
  <span>Today</span>
  <hr>
</div>
<div class="block-container">
      <div class="container-1" [class.msg-right]="indata.self">
        <img class="avatar" src="{{indata.user.image}}">
        <div class="avatar-info">
            <span class="name">{{indata.user.name}}</span>
            -
            <span class="title">{{indata.user.pos}}</span>
            <span class="imp-span" *ngIf="indata.imp">- <i class="material-icons important">star</i></span>
        </div>
        <p class="time">{{indata.time}}</p>
        <p class="msg">{{indata.msg.text}}</p>
        
        <!-- Image -->
        <div class="pics" *ngIf="indata.msg.type == 'img'">
          <img (click)="openModal()" class="uploaded-pic" src="{{indata.msg.img}}">
        </div>
      
        <!-- Files -->
        <div class="file-div" *ngIf="indata.msg.type == 'file'">
            <i class="material-icons file-icon">insert_drive_file</i>
            <span class="file-icon-txt">W</span>
            <div class="file-details">
              <h6 class="file-name">{{indata.msg.file.name}}</h6>
              <h6 class="file-type">{{indata.msg.file.type}}</h6>
            </div>
        </div>
      
        <!-- Video -->
        <div class="video-div" *ngIf="indata.msg.type == 'vid'">
          <div class="video-ctr">
            <img src="https://www.lollypop.design/media/5385/10_color-psychology.jpg">
            <div class="video-overlay">
              <i class="material-icons">play_circle_filled</i>
              <span class="vid-time">3:21</span>
            </div>
          </div>
        </div>
      
        <!-- replies -->
        <div class="replies" *ngIf="isReplies">
          <div class="reply" *ngFor="let reply of replies">
            <img class="reply-avatar" src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754">
            <div class="reply-data">
              <span class="reply-author">{{reply.author}} : </span>
              <span class="reply-msg">{{reply.message}}</span>
            </div>
            <span class="reply-time">{{reply.time}}</span>
          </div>
        </div>
      
        <div class="reply-btn-div" (click)="replyfn()">
            <i class="material-icons">reply</i>
            <span>reply</span>
        </div>
      </div>
</div>

