<div style="height: 100%;">
  <div class="row" style="height: 100%;">
    <!-- Left Column -->
    <div class="col-4 brd">
      <!-- Search Bar -->
      <div class="topbar" *ngIf="showChatsList">
        <div class="searchbar">
            <i class="material-icons icon-1">search</i>
            <input type="text" class="form-control searchInput" placeholder="Search">
        </div>        
      </div>

      <!-- Left Second Bar (new and sort) -->
      <div class="second-bar" *ngIf="showChatsList">

        <!-- Sort By -->
        <div class="float-left second-left">
          <span class="sortBy">Sort by:</span> show unread
        </div>

        <!-- Create New -->
        <div class="float-right second-right" (clickOutside)="newClickOutside($event)">
          <i class="material-icons float-right" (click)="showDropdown() ">
            add_circle
          </i>
          <span class="float-right">New</span>
          <div class="new-dropdown" *ngIf="new" >
            <h6 (click)="ShowCreateGroup()">Team</h6>
            <h6 (click)="ShowCreateDirect()">Direct</h6>
          </div>
        </div>
      </div>

      <!-- Chats container -->
      <div class="chats-container" *ngIf="showChatsList">

            <!-- Group List -->
            <span class="lead-1">
              Teams
              <div class="lead-noti"></div>
            </span>
            <div class="teams" >
                <app-group-card *ngFor="let item of groups"></app-group-card>
            </div>

            <!-- Direct List -->
            <span class="lead-1">
              Direct messages
              <div class="lead-noti"></div>
            </span>
            <div class="dm">
              <app-dm-card *ngFor="let item of dms"></app-dm-card>
              <h6 class="dm-archives-link" (click)="ShowArchives()">View archives</h6>
            </div>
      </div>

      <!-- Archives -->
      <div *ngIf="showArchive" class="archive-container">
          <!-- Top Bar -->
          <div class="archive-topbar">
              <span class="arc-back" (click)="HideArchives()">
                <i class="material-icons">arrow_back</i>
              </span>
              <span class="arc-top-header">
                  Archived chats
              </span>
          </div>
          
          <div class="arc">
            <app-dm-card *ngFor="let item of archives"></app-dm-card>
          </div>
      </div>

      <!-- Create New Group Container -->
      <div *ngIf="showCreateGroup" class="create-group-container">
          <div class="archive-topbar">
              <span class="arc-back" (click)="HideCreateGroup()">
                <i class="material-icons">arrow_back</i>
              </span>
              <span class="arc-top-header">
                  Create team
              </span>
          </div>

          <!-- CG 1st step -->
          <div class="CG1" *ngIf="!step">
              <div class="CG-image-upload-ctr mx-auto">
                  <i class="material-icons CG-bg-i">
                    people
                  </i>
                  <p>
                    <i class="material-icons">add_photo_alternate</i>
                    <br>
                    ADD GROUP ICON</p>
              </div>
              <div class="CG-details">
                  <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text" >&nbsp;#</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Name" maxlength="25">
                  </div>
                  <p class="lead1 mb-4">*Name must be without special characters and less than 25 characters.</p>
                  <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Username">
                      <i class="material-icons CG-username-check">
                          check_circle_outline
                      </i>
                  </div>
                  <p class="lead1 mb-5">*Username must be short and can contain letters, numbers, period and underscore.</p>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                      </div>
                      <textarea style="resize: none;" class="form-control" maxlength="80"></textarea>
                  </div>
                  <p class="lead1">*Briefly describe the purpose of this team in not more than 80 characters.</p>
              </div>
              <div class="CG1-next">
                  <i class="material-icons" (click)="nextStep()">
                      arrow_forward
                  </i>
              </div>
          </div>

          <!-- CG 2nd step-->
          <div class="CG2" *ngIf="step">
            <div class="CG2-top">
                <p class="lead mb-4">Add participants</p>
                <div class="participants" *ngIf="participantsss">
                  <div class="participant" *ngFor="let p of participantsss; index as i">
                      <img src="{{p.url}}">
                      <span>{{p.name}}</span>
                      <i class="material-icons" (click)="pop(i, p)">
                          clear
                      </i>
                  </div>
                </div>
                <input type="text" class="form-control mb-4" placeholder="Type contact name">
            </div>
      
            <div class="connection-list">
              <div class="cat">
                <p>A</p>
                <div class="user" *ngFor="let u of contacts; index as i" (click)="addParticipant(u, i)">
                    <img src="{{u.url}}">
                    <span class="U-name">{{u.name}}</span>
                    <span class="U-title">{{u.title}}</span>
                </div>
              </div>
            </div>
            <div class="CG2-next" *ngIf="participantsss.length > 0">
                <i class="material-icons">
                    arrow_forward
                </i>
            </div>

          </div>
      </div>

      <!-- Create new Direct Container -->
      <div class="createDirect" *ngIf="showCreateDirect">
          <div class="archive-topbar">
              <span class="arc-back" (click)="HideCreateDirect()">
                <i class="material-icons">arrow_back</i>
              </span>
              <span class="arc-top-header">
                  Select contact
              </span>
          </div>
          <div class="contact-search">
              <input type="text" class="form-control mb-4" placeholder="Type contact name">
          </div>
          <div class="contact-list">
              <div class="cat">
                <p>A</p>
                <div class="user" *ngFor="let u of contacts; index as i">
                    <img src="{{u.url}}">
                    <span class="U-name">{{u.name}}</span>
                    <span class="U-title">{{u.title}}</span>
                </div>
              </div>
          </div>
      </div>
    </div>

    <!-- Right column ------ Chat Outlet -->
    <div class="col-8 outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>