.brd {
    height: 100%;
    padding: 0;
}
.outlet {
    border-left: 1px solid #ddd;
    height: 100%;
    padding: 0;
}
.row {
    margin: 0;
}


.topbar {
    width: 100%;
    padding: 15px;
}
.searchbar {
    position: relative;
    width: 100%;
    display: inline-block;
}
.searchInput {
    border-radius: 20px;
    padding-left: 65px;
    background-color: rgba(221, 221, 221, 0.4);
    border: none;
}
.searchInput:focus {
    box-shadow: 0px 0px 1px 2px #ddd;
}
.searchInput::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
.icon-1 {
    position: absolute;
    top: 7px;
    left: 5%;
    z-index: 1;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.top-right {
    width: 15%;
    display: inline-block;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.35);
    position: relative;
}
.top-right i {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: -26px;
    right: -15px;
    color: rgb(133, 124, 124);
}

.selected1 {
    background-color: rgba(238, 238, 238, 0.9);
    color: rgba(0, 0, 0, 0.6) !important;
}


.second-bar {
    width: 100%;
    padding: 5px 20px;
}

.second-left {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
}
.sortBy {
    color: rgba(0, 0, 0, 0.3);
    margin-right: 5px;  
}

.second-right {
    user-select: none;
    position: relative;
}

.new-dropdown {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 200;
    height: 100px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    -moz-transition: width 2s;
}
.new-dropdown h6 {
    padding: 7px 20px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 2px 10px -2px black;
    border-radius: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}
.new-dropdown h6:hover{
    color: black;
    background-color: #f3f0f0;
}
.second-right span {
    font-size: 13px;
    color: rgba(0,0,0, 0.3);
    font-weight: 700;
    padding: 3px;
}
.second-right i {
    font-size: 30px;
    margin-top: -3px;
    margin-left: 3px;
    color: aquamarine;
    cursor: pointer;
}
.second-right i:active {
    color: rgb(34, 116, 88);
}

.chats-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: calc(100% - 110px);
    height: -moz-calc(100% - 110px);
    height: -webkit-calc(100% - 110px);
}

.teams {
    overflow: auto;
    min-height: calc(55% - 44px);
    max-height: calc(55% - 34px);
    max-height: -moz-calc(55% - 34px);
    max-height: -webkit-calc(55% - 34px);
    margin-bottom: 15px;
    margin-top: 5px;
    overflow-x: hidden;
}
.teams::-webkit-scrollbar {
    width: 5px;
}
.teams::-webkit-scrollbar-track {
    background-color: #fafafa;
}
.teams::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.dm {
    overflow: scroll;
    max-height: calc(45% - 44px);
    max-height: -moz-calc(45% - 44px);
    max-height: -webkit-calc(45% - 44px);
    padding: 0;
    margin-top: 5px;
    overflow-x: hidden;
}
.dm::-webkit-scrollbar {
    width: 5px;
}
.dm::-webkit-scrollbar-track {
    background-color: #fafafa;
}
.dm::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.lead-1 {
    padding-left: 5%;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}
.lead-noti {
    height: 7px;
    width: 7px;
    padding: 2px;
    margin-left: 5px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: orangered;
    display: inline-block; 
}
.group-card {
    height: 80px;
    min-height: 80px;
    width: 90%;
    margin: 10px 0;
    -webkit-box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
    position: relative;
}

.dm-card {
    width: 90%;
    height: 50px;
    margin: 10px 0;
    -webkit-box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
    position: relative;
}

.grp-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    top: 10px;
    left: 10px;
}
.grp-name {
    font-size: 14px;
    font-weight: 500;
    position: absolute; 
    top: 8px;
    left: 50px;
    opacity: 0.9;
}
.grp-title {
    position: absolute;
    top: 25px;
    font-size: 12px;
    left: 50px;
    opacity: 0.4;
}
.grp-time {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    opacity: 0.3;
}
.grp-msg {
    position: absolute;
    bottom: 8px;
    left: 10px;
    right: 40px;
    font-size: 14px;
    opacity: 0.7;
}
.grp-info {
    height: 18px;
    width: 18px;
    background-color: rgba(255, 68, 0, 0.8);
    color: white;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.dm-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    top: 10px;
    left: 10px;
}
.dm-name {
    font-size: 13px;
    font-weight: 500;
    position: absolute; 
    top: 8px;
    left: 50px;
    opacity: 0.9;
}
.dm-time {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 12px;
    opacity: 0.3;
}
.dm-msg {
    position: absolute;
    bottom: 6px;
    left: 50px;
    right: 40px;
    font-size: 14px;
    opacity: 0.6;
    max-height: 16px;
    overflow: hidden;
}
.dm-info {
    height: 12px;
    width: 12px;
    background-color: rgba(255, 68, 0, 0.8);
    color: white;
    font-size: 8px;
    line-height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: 10px;
}

.dm-archives-link {
    font-size: 12px;
    margin: 17px 20px;
    color: blue;
    cursor: pointer;
    opacity: 0.7;
    font-weight: 700;
}


.archive-container {
    height: 100%;
    position: relative;
    animation-name: slideIn;
    animation-duration: 0.3s;
}
.archive-topbar {
    padding: 20px 10px;
    background-color: rgb(61, 45, 115);
    color: #fff;
    height: 70px;
}
.arc-top-header {
    position: absolute;
    font-size: 20px;
    left: 70px;
    opacity: 0.8;
    cursor: default;
}
.arc-back {
    font-size: 24px;
    position: absolute;
    opacity: 0.8;
    cursor: pointer;
    left: 25px;
}
.arc-back:hover {
    opacity: 1;
}
.arc {
    overflow: scroll;
    max-height: calc(100% - 80px);
    max-height: -moz-calc(100% - 80px);
    max-height: -webkit-calc(100% - 80px);
    padding: 0;
    margin-top: 5px;
    overflow-x: hidden;
}
.arc::-webkit-scrollbar {
    width: 5px;
}
.arc::-webkit-scrollbar-track {
    background-color: #fafafa;
}
.arc::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.arc-card {
    width: 90%;
    height: 50px;
    margin: 20px 0;
    -webkit-box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 22px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
    position: relative;
}
.arc-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    top: 10px;
    left: 10px;
}
.arc-name {
    font-size: 13px;
    font-weight: 500;
    position: absolute; 
    top: 8px;
    left: 50px;
    opacity: 0.9;
}
.arc-time {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 12px;
    opacity: 0.3;
}
.arc-msg {
    position: absolute;
    bottom: 6px;
    left: 50px;
    right: 40px;
    font-size: 14px;
    opacity: 0.6;
    max-height: 16px;
    overflow: hidden;
}
.arc-info {
    height: 12px;
    width: 12px;
    background-color: rgba(255, 68, 0, 0.8);
    color: white;
    font-size: 8px;
    line-height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: 10px;
}


.create-group-container {
    height: 100%;
    animation-name: slideIn;
    animation-duration: 0.3s;
}
.CG-1st-step {
    border: 2px solid lightgreen;
}
.CG-image-upload-ctr {
    background-color: rgba(170, 168, 168, 0.867);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 40px 0 40px 0;
    overflow: hidden;
}

.CG-bg-i {
    font-size: 100px;
    color: rgba(163, 162, 162, 0.4);
}
.CG-image-upload-ctr p {
    font-size: 13px;
    color:white;
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-weight: 500;
}
.CG-image-upload-ctr p i {
    font-size: 35px;
}

.CG-details {
    padding: 50px;
}
.lead1 {
    font-size: 12px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ddd;
    outline: none;
}






/* Animations */
@keyframes slideIn {
    from {width: 50%;}
    to {width: 100%;}
}
