<div class="post">
  <div class="img">
    <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754">
  </div>
  <div class="content">
    <h6>Mario Mendez <i class="material-icons">lens</i><span>10h</span></h6>
    <i class="drop material-icons">expand_more</i>
    <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is</div>
    <a href="http://www.google.com" target="_blank" class="url">http://www.example.com/post/wwx3cd</a>
    <div class="url-preview">
      
    </div>
    <div class="image">
        <img src="https://static.collectui.com/shots/3335173/getting-started-large" class="img-fluid">
    </div>
    <!-- Bottom bar -->
    <div class="bottombar">
      <div class="tab">
        <i class="material-icons t-one">favorite_border</i>
        <h6>49</h6>
      </div>
      <div class="tab">
        <i class="material-icons t-two">comment</i>
        <h6>2</h6>
      </div>
      <div class="tab">
        <i class="material-icons t-three">repeat</i>
        <h6>9</h6>
      </div>
    </div>
  </div>
</div>
