<div class="post">
  <div class="img">
    <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754">
  </div>
  <div class="content">
    
    <!-- Topbar -->
    <h6>Mario Mendez <span class="username">@mario_mz</span> <i class="material-icons">lens</i><span>10h</span></h6>

    <!-- topbar dropdown -->
    <i class="drop material-icons" 
    [popper]="PostDropdown"
    [popperShowOnStart]="false"
    [popperTrigger]="'click'"
    [popperHideOnClickOutside]="true"
    [popperHideOnScroll]="true"
    [popperPlacement]="'bottom-start'"
    [popperApplyClass]="'popper'"
    [popperDisableStyle]="true"
    >expand_more</i>
    <!-- Dropdown -->
    <popper-content #PostDropdown [ngClass]="popper">
        <div>
            <h6 style="font-weight: 400;">Delete</h6>
            <h6 style="font-weight: 400;">Report this post</h6>
            <h6 style="font-weight: 400;">View stats</h6>
        </div>
    </popper-content>

    <!-- Text -->
    <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is</div>
    
    <!-- Link -->
    <a href="http://www.google.com" target="_blank" class="url" *ngIf="link">http://www.example.com/post/wwx3cd</a>
    
    <!-- Video Player -->
    <div class="video" *ngIf="video">
        <vg-player (onPlayerReady)="onPlayerReady($event)" (mouseenter)="enter()" (mouseleave)="leave()">
            <vg-buffering vgFor="singleVideo"></vg-buffering>
            <vg-overlay-play vgFor="singleVideo"></vg-overlay-play>
            <!-- Controls -->
            <vg-controls *ngIf="ShowBar">
                <vg-play-pause></vg-play-pause>
        
        
                <vg-scrub-bar class="scrub">
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
        
                <vg-time-display vgProperty="left" vgFormat="mm:ss" *ngIf="leftTime"></vg-time-display>
                <vg-time-display vgProperty="total" vgFormat="mm:ss" *ngIf="totalTime"></vg-time-display>
        
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
        
                <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <!-- Video media -->
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
            </video>
        </vg-player>
    </div>

    <!-- Image -->
    <div class="image" *ngIf="img">
        <img src="https://static.collectui.com/shots/3335173/getting-started-large" class="img-fluid">
    </div>


    <!-- Poll -->
    <app-post-poll *ngIf="polls"></app-post-poll>

    <!-- Link preview -->
    <a href="https://stackoverflow.com/questions/24054691/how-to-create-link-previews-like-in-facebook-linkedin" target="_blank" class="linkPreview" *ngIf="linkPreview">
      <div class="pic">
        <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" class="image-fluid">
      </div>
      <div class="inf">
        <h6>How to create link previews like in Facebook/Linkedin</h6>
        <p>I am creating a web app using the mean stack.It will have an input box where the user can write anything which will be stored in mongo db and later be displayed using angular. It is similar to a newsfeed. So the user can eve...</p>
      </div>
    </a>


    <!-- Like, Comment and Share buttons -->
    <div class="bottombar">
      <div class="tab tab-1">
        <i class="material-icons" *ngIf="!liked" (click)="toggleLike()">favorite_border</i>
        <i class="material-icons likeRed" *ngIf="liked" (click)="toggleLike()">favorite</i>
      </div>
      <div class="tab tab-2" (click)="showCmnts()">
        <i class="material-icons">chat_bubble_outline</i>
      </div>
      <div class="tab tab-3">
        <i class="material-icons">repeat</i>
      </div>
    </div>



    <!-- Likes, comments and shares -->
    <div class="activity">
      <div class="lns">
        <span class="left">2,154 likes</span>
        <span class="cmnt-expand" (click)="showCmnts()"> &#8226; View All 18 comments</span>
      </div>
      <div class="comments"  *ngIf="showComments">
        <div class="create">
          <div class="left">
            <img src="https://daks2k3a4ib2z.cloudfront.net/55d62f32fa59c51977889877/561d4d3b8cf0398714ac71b5_MM-092714_Avatar.jpg">
          </div>
          <div class="centr">
            <input type="text" maxlength="240">
          </div>
          <div class="right">
            <button>Post</button>
          </div>
        </div>
        <!-- Comment container -->
        <div class="comment-container">
          <!-- Comments -->
          <div class="comment">
            <div class="left">
              <img src="https://www.randomaddressgenerator.com/media/face/male44.jpg">
            </div>
            <div class="right">
              <div class="top">
                  <a href="./app" class="name">dave_morin</a>
                  <span class="text">lipsum as it is sometimes known, is dummy text used in la y i n g o u t p r i nt, graphic or web designs.</span>
                <i class="material-icons more">more_horiz</i>
              </div>
              <div class="bottom">
                <span class="time">3m</span> &#8226;
                <span class="reply">Reply</span>
              </div>

              <!-- Reply of replies -->
              <div class="replies" *ngFor="let x of replyOfreply">
                    <div class="lft">
                      <img src="https://colorlib.com/polygon/gentelella/images/img.jpg">
                    </div>
                    <div class="ryt">
                      <div class="tp">
                          <a href="./app" class="name">dave_morin</a>
                          <span class="text">lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</span>
                          <i class="material-icons more">more_horiz</i>
                      </div>
                      <div class="bttm">
                        <span class="time">3m</span> &#8226;
                        <span class="reply">Reply</span>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
