.post {
    display: flex;
    border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    padding: 20px 20px 0 20px;
    position: relative;
}
.post:hover {
    background-color: rgba(221, 221, 221, 0.15);
}
.post .img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.post .content {
    margin: 0 15px;
}
.post .content h6 {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8)
}
.post .content h6 .username {
    font-size: 14px;
    margin-left: 3px;
}
.post .content h6 i {
    font-size: 4px;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    margin: 0 5px;
}
.post .content h6 span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

.post .content .text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.post .content .bottombar {
    display: flex;
    margin-top: 15px;
    user-select: none;
}
.post .content .bottombar .tab {
    margin-right: 15px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}
.post .content .bottombar .tab i {
    font-size: 24px;
    font-weight: 100;
}
.bottombar .tab-1:hover {
    color: crimson !important;
}
.bottombar .tab-2:hover {
    color: indigo !important;
}
.bottombar .tab-3:hover {
    color: rgb(9, 185, 9) !important;
}

.activity {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
.activity .lns {
    display: flex;
    margin-bottom: 7px;
}
.activity .lns .left {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
}
.activity .lns .cmnt-expand {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 8px;
}
.activity .lns .cmnt-expand:hover {
    color: rgba(0, 0, 0, 0.5);
}


.activity .comments {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(221, 221, 221, 0.6);
}
.activity .comments .create {
    display: flex;
    margin-top: 10px;
}
.activity .comments .create .left img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.activity .comments .create .centr {
    flex-grow: 1;
    padding: 0 10px 0 10px;
}
.activity .comments .create .centr input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ddd;
    outline: none;
    padding: 0 10px;
    font-size: 12px;
}
.activity .comments .create .right button {
    border: none;
    height: 30px;
    background-color: slateblue;
    border-radius: 15px;
    color: #fafafa;
    padding: 2px 10px;
    cursor: pointer;
    outline: none;
}

.activity .comments .comment-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.activity .comments .comment-container .comment {
    display: flex;
    margin: 10px 0;
}
.activity .comments .comment-container .comment .left img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.activity .comments .comment-container .comment .right {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.activity .comments .comment-container .comment .right .top {
    line-height: 18px;
    background-color: rgba(236, 237, 247, 0.8);
    padding: 4px 40px 4px 10px;
    border-radius: 10px;
    position: relative;
}
.activity .comments .comment-container .comment .right .top .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 18px !important;
}
.activity .comments .comment-container .comment .right .top .text {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 18px !important;
    margin-left: 7px;
    overflow-wrap: break-word;
}
.activity .comments .comment-container .comment .right .top .more {
    position: absolute;
    top: 3px;
    right: 6px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
}
.activity .comments .comment-container .comment .right .top:hover .more {
    display: block;
}
.activity .comments .comment-container .comment .right .bottom {
    padding: 0 10px;
    font-size: 13px;
    margin-top: 5px;
}
.activity .comments .comment-container .comment .right .bottom .time {
    color: #333;
    cursor: default;
}
.activity .comments .comment-container .comment .right .bottom .reply {
    font-weight: 500;
    color: rgba(51, 51, 51, 0.6);
    margin-left: 5px;
    cursor: pointer;
}

.activity .comments .comment-container .comment .right .replies {
    padding: 3px;
    display: flex;
    margin-top: 5px;
}

.activity .comments .comment-container .comment .right .replies .lft img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.activity .comments .comment-container .comment .right .replies .ryt {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.activity .comments .comment-container .comment .right .replies .ryt .tp {
    line-height: 18px;
    background-color: rgba(236, 237, 247, 0.8);
    padding: 4px 40px 4px 10px;
    border-radius: 10px;
    position: relative;
}
.activity .comments .comment-container .comment .right .replies .ryt .tp .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 18px !important;
}

.activity .comments .comment-container .comment .right .replies .ryt .tp .text {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 18px !important;
    margin-left: 7px;
    overflow-wrap: break-word;
}
.activity .comments .comment-container .comment .right .replies .ryt .tp .more {
    position: absolute;
    top: 3px;
    right: 6px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
}
.activity .comments .comment-container .comment .right .replies .ryt .tp:hover .more {
    display: block;
}
.activity .comments .comment-container .comment .right .replies .ryt .bttm {
    padding: 0 10px;
    font-size: 13px;
    margin-top: 5px;
}
.activity .comments .comment-container .comment .right .replies .ryt .bttm .time {
    color: #333;
    cursor: default;
}
.activity .comments .comment-container .comment .right .replies .ryt .bttm .reply {
    font-weight: 500;
    color: rgba(51, 51, 51, 0.6);
    margin-left: 5px;
    cursor: pointer;
}



.post .content .drop {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
    color: rgba(0, 0, 0, 0.2);
    display: none;
}
.post .content .drop:hover {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: rgba(105, 104, 104, 0.1);
    border-radius: 50%;
}
.post:hover .content .drop {
    display: block;
}

.post .content .image {
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    max-height: 450px;
    border: 1px solid #ddd;
    min-width: 100%;
    overflow: hidden;
}

.post .content .url {
    color: #0645ad;
    font-weight: 400;
    cursor: pointer;
    display: block;
    margin: 5px 0 20px 0;
    font-size: 14px;
    width: max-content;
}

.post .content .video {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

/* Link preview */
.post .content .linkPreview {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
}
.post .content .linkPreview:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.post .content .linkPreview .pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post .content .linkPreview .pic img {
    max-height: 100px;
    max-width: 120px;
}

.post .content .linkPreview .inf {
    flex: 3;
}
.post .content .linkPreview .inf h6 {
    margin-bottom: 5px;
    color: #333;
}
.post .content .linkPreview:hover .inf h6 {
    text-decoration: underline;
}
.post .content .linkPreview .inf p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}



/*  Colors  */

.likeRed {
    color: crimson !important;
}
.commentIndigo {
    color: indigo !important;
}
.shareGreen {
    color: rgb(9, 185, 9) !important;
}



/* Spacer */
.spacer {
    flex-grow: 1;
}