<div class="post">
  <div class="img">
    <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754">
  </div>
  <div class="content">
    
    <!-- Topbar -->
    <h6>Mario Mendez <i class="material-icons">lens</i><span>10h</span></h6>
    <!-- topbar dropdown -->
    <i class="drop material-icons">expand_more</i>

    <!-- Text -->
    <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is</div>
    
    <!-- Link -->
    <a href="http://www.google.com" target="_blank" class="url" *ngIf="x">http://www.example.com/post/wwx3cd</a>
    
    <!-- Video Player -->
    <div class="video" *ngIf="x">
        <vg-player (onPlayerReady)="onPlayerReady($event)" (mouseenter)="enter()" (mouseleave)="leave()">
            <vg-buffering vgFor="singleVideo"></vg-buffering>
            <vg-overlay-play vgFor="singleVideo"></vg-overlay-play>
            <!-- Controls -->
            <vg-controls *ngIf="ShowBar">
                <vg-play-pause></vg-play-pause>
        
        
                <vg-scrub-bar class="scrub">
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
        
                <vg-time-display vgProperty="left" vgFormat="mm:ss" *ngIf="leftTime"></vg-time-display>
                <vg-time-display vgProperty="total" vgFormat="mm:ss" *ngIf="totalTime"></vg-time-display>
        
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
        
                <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <!-- Video media -->
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
            </video>
        </vg-player>
    </div>

    <!-- Image -->
    <div class="image" *ngIf="x">
        <img src="https://static.collectui.com/shots/3335173/getting-started-large" class="img-fluid">
    </div>


    <!-- Poll -->
    <app-post-poll *ngIf="x"></app-post-poll>

    <!-- Link preview -->
    <a href="https://stackoverflow.com/questions/24054691/how-to-create-link-previews-like-in-facebook-linkedin" target="_blank" class="linkPreview">
      <div class="pic">
        <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" class="image-fluid">
      </div>
      <div class="inf">
        <h6>How to create link previews like in Facebook/Linkedin</h6>
        <p>I am creating a web app using the mean stack.It will have an input box where the user can write anything which will be stored in mongo db and later be displayed using angular. It is similar to a newsfeed. So the user can eve...</p>
      </div>
    </a>


    <!-- Bottom bar -->
    <div class="bottombar">
      <div class="tab tab-1">
        <i class="material-icons">favorite_border</i>
        <h6>49</h6>
      </div>
      <div class="tab tab-2">
        <i class="material-icons">comment</i>
        <h6>2</h6>
      </div>
      <div class="tab tab-3">
        <i class="material-icons">repeat</i>
        <h6>9</h6>
      </div>
    </div>
  </div>
</div>
