.container-1 {
    height: 100%;
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-direction: column; 
    flex-direction: column; 
}

.topbar {
    height: 60px;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    flex: 1;
    background-color: rgba(221, 221, 221, 0.3);
    user-select: none;
}
.top-left {
    float: left;
    width: 50%;
}
.top-left img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    float: left;
}
.avatar-info {
    padding-left: 5px;
    position: relative;
    width: 70%;
    float: left;
}
.name {
    font-size: 14px;
    margin-top: 3px;
    font-weight: 600;
    opacity: 0.9;
}
.title {
    font-size: 13px;
    position: absolute;
    top: 18px;
    opacity: 0.5;
}

.top-right {
    float: right;
}

.icon-top {
    font-size: 30px;
    color: rgb(177, 175, 175);
    cursor: pointer;
    padding: 5px;
}
.icon-top:hover {
    color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    background-color: rgba(221, 221, 221, 0.5);
}


.chats {
    flex: 14;
    padding: 40px 60px;
    overflow: scroll;
    overflow-x: hidden;
}
.chats::-webkit-scrollbar {
    width: 5px;
}
.chats::-webkit-scrollbar-track:hover {
    width: 10px;
}
.chats::-webkit-scrollbar-track {
    background-color: #fafafa;
}
.chats::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.bottom-bar {
    flex: 1;
    border-top: 1px solid rgba(221, 221, 221, 0.5);
    padding: 10px 30px;
    width: 100%;
    background-color: rgba(221, 221, 221, 0.5);
    max-height: 60px;
    min-height: 60px;
}

.bottom-container {
    position: relative;
}
.bottom-container .input {
    position: absolute;
    width: 96%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: none;
    border: none;
    padding: 6px 100px 0 50px;
    -webkit-appearance: textarea;
    appearance: textarea;
    height: 38px;
    outline: none;
    overflow-y: auto;
    display: table-cell;
}
[contenteditable=true]:empty::before {
    content: attr(placeholder);
}

.bottom-container .input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
.send-btn {
    position: absolute;
    right: 4%;
    top: -5px;
    font-size: 32px;
    padding: 8px;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 500;
}

.attach {
    position: absolute;
    top: 3px;
    left: 9px;
    transform: rotate(45deg);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 6px;
    cursor: pointer !important;
    z-index: 300;
    border-radius: 50%;
    user-select: none;
}
.attach:hover {
    background-color: rgba(221, 221, 221, 0.7);
}
.attach-selected {
    color: darkblue !important;
    background-color: rgba(221, 221, 221, 0.9) !important;
}
.emoji {
    position: absolute;
    font-size: 24px;
    top: 2px;
    right: 12%;
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 550;
    cursor: pointer;
    border-radius: 50%;
}
.emoji:hover {
    background-color: rgba(221, 221, 221, 0.7);
}


.bottomPop {
    flex: 10;
    animation-name: slideUp;
    animation-duration: 0.2s;
    background-color: rgba(221, 221, 221, 0.5);
    border-top-right-radius: 5px;
    border-top-left-radius: 10px;
}

.dropup-menu {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.attach-items i {
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 40px -5px black;
    opacity: 1;
    color: white;
    border: 1px solid rgba(0, 0, 139, 0.7);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}
.attach-items { 
    margin: 10px 0;
}
.tooltip1 {
    position: relative;
}
.tooltip1 .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 16px;
    padding: 5px 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 60px;
}
  
.tooltip1:hover .tooltiptext {
  visibility: visible;
}


/* Group Box */
.groupbox {
    flex: 14;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column; 
    position: relative;
}
.box-new {
    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 2000;
    user-select: none;
}
.box-new i {
    font-size: 50px;
    color: slateblue;
    cursor: pointer;
}
.box-new i:active {
    color: rgb(85, 66, 206);
}

.box-topbar {
    display: flex;
    padding: 10px 40px 0 40px;
    background-color: rgb(61, 45, 115);
    min-height: 65px;
}
.box-topbar p {
    font-size: 22px;
    flex: 1;
    color: #ddd;
    padding-top: 6px;
    font-weight: 500;
    user-select: none;
}
.box-navbar {
    display: flex;
    flex: 3;
    user-select: none;
}
.box-nav {
    flex: 1;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #ddd;
}
.box-nav h6 {
    font-size: 14px;
}

.box-nav:hover {
    cursor: pointer;
    color: white;
}

.box-nav-selected {
    background-color: rgb(240, 240, 240);
    color: rgb(61, 45, 115) !important;
}
.box-container {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
}
.box-container::-webkit-scrollbar {
    width: 5px;
}
.box-container::-webkit-scrollbar-track:hover {
    width: 10px;
}
.box-container::-webkit-scrollbar-track {
    background-color: #fafafa;
}
.box-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.boards-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}


/* Tasks */
.tasks-container {
    padding: 40px;
}

/* Files */
.files-container {
    padding: 40px 40px 40px 50px;
}

.tabletopbar {
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: relative;
}
.tabletopbar .one {
    flex: 7;
}
.tabletopbar .two {
    flex: 3;
    padding-left: 10px;
}
.tabletopbar .three {
    flex: 3;
    padding-left: 10px;
}
.tabletopbar .four {
    flex: 4;
    padding-left: 20px;
}
.tabletopbar .five {
    flex: 1;
}

/* Polls container */
.polls-main-container {
    padding: 40px;
}
.polls-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-basis: 100%;
}
.pol {
    width: 30%;
    margin: 0px 3% 20px 0;
    min-width: 250px;
}
.important-container {
    padding: 40px;
}


/* Info window  */
.infoWindow {
    flex: 14;
    overflow: scroll;
    overflow-x: hidden;
}




@keyframes slideUp {
    from {flex: 1;}
    to {flex: 10;}
}
