<div class="container-1">
  <!-- Topbar -->
  <div class="topbar">
    <div class="top-left">
      <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754">
      <div class="avatar-info">
          <h6 class="name">The Incubis</h6>
          <p class="title">Title  |  Last seen - 2h ago</p>
      </div>
    </div>
    <div class="top-right">
        <i class="material-icons icon-top" (click)="ShowGroupBox()" *ngIf="ChatsWindow">widgets</i>
        <i class="material-icons icon-top" (click)="ShowChatsWindow()" *ngIf="ChatsWindow">more_horiz</i>
        <i class="material-icons icon-top" (click)="ShowChatsWindow()" *ngIf="!ChatsWindow">clear</i>
    </div>
  </div>

  <!-- Chats container -->
  <div class="chats" *ngIf="ChatsWindow">
    <app-in (reply)="reply_this($event)"></app-in>
    <app-in (reply)="reply_this($event)"></app-in>
    <app-in (reply)="reply_this($event)"></app-in>
    <app-in (reply)="reply_this($event)"></app-in>
    <app-in (reply)="reply_this($event)"></app-in>
  </div>

  <!-- Group box container -->
  <div class="groupbox" *ngIf="GroupBoxWindow">
    <!-- Navbar (Group box) -->
    <div class="box-topbar">
      <p>Group Box</p>
      <div class="box-navbar">
        <div class="box-nav" (click)="showBoards()" [class.box-nav-selected]="GroupBoxTab === 'boards'">
            <i class="material-icons">layers</i>
            <h6>Boards</h6>
        </div>
        <div class="box-nav" (click)="showTasks()" [class.box-nav-selected]="GroupBoxTab === 'tasks'">
            <i class="material-icons">check_box</i>
            <h6>Tasks</h6>
        </div>
        <div class="box-nav" (click)="showFiles()" [class.box-nav-selected]="GroupBoxTab === 'files'">
            <i class="material-icons">cloud_upload</i>
            <h6>Files</h6>
        </div>
        <div class="box-nav" (click)="showPolls()" [class.box-nav-selected]="GroupBoxTab === 'polls'">
            <i class="material-icons">poll</i>
            <h6>Polls</h6>
        </div>
        <div class="box-nav" (click)="showImportants()" [class.box-nav-selected]="GroupBoxTab === 'importants'">
            <i class="material-icons">star</i>
            <h6>Important</h6>
        </div>
      </div>
    </div>

    <!-- Create new Board -->
    <div class="box-new">
      <i class="material-icons">add_circle</i>
    </div>
    <!-- group box display Container -->
    <div class="box-container">
     
      <!-- Boards --> 
      <div class="boards-container" *ngIf="GroupBoxTab == 'boards'">
        <!-- Board -->
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
        <app-board></app-board>
      </div>

      <!-- Tasks -->
      <div class="tasks-container" *ngIf="GroupBoxTab == 'tasks'">
        <p class="lead">My tasks</p>
          <app-task></app-task>
          <app-task></app-task>
          <app-task></app-task>
        <p class="lead">All tasks</p>
          <app-task></app-task>
          <app-task></app-task>

      </div>

      <!-- Files -->
      <div class="files-container" *ngIf="GroupBoxTab == 'files'">
        <p class="lead">My Files</p>
        <div class="tabletopbar">
          <div class="one">Name</div>
          <div class="two">Type</div>
          <div class="three">Modified</div>
          <div class="four">User</div>
          <div class="five"> <i class="material-icons">list</i> </div>
        </div>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>

        <p class="lead mt-5">All Files</p>
        <div class="tabletopbar">
          <div class="one">Name</div>
          <div class="two">Type</div>
          <div class="three">Modified</div>
          <div class="four">User</div>
          <div class="five"> <i class="material-icons">list</i> </div>
        </div>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
      </div>

      <!-- polls -->
      <div class="polls-main-container" *ngIf="GroupBoxTab == 'polls'">
        <p class="lead">Active polls</p>
        <div class="polls-container">
            <div class="pol">
                <app-poll></app-poll>
            </div>
            <div class="pol">
                <app-poll></app-poll>
            </div>
            <div class="pol">
                <app-poll></app-poll>
            </div>
            <div class="pol">
                <app-poll></app-poll>
            </div><div class="pol">
                <app-poll></app-poll>
            </div>
        </div>
      </div>

      <!-- Important -->
      <div class="important-container" *ngIf="GroupBoxTab == 'importants'">
        <p class="lead">Recent</p>
      </div>
    </div>
  </div>

  <div class="infoWindow" *ngIf="InfoWindow">
    Info Window
  </div>

  <!-- Emoji selector Div -->
  <div class="bottomPop" *ngIf="toggleState">
      <emoji-mart native="false" (emojiClick)="addEmoji($event)" emojiTooltip="false" showPreview="false" set="google"></emoji-mart>
  </div>
  <!-- Bottombar -->
  <div class="bottom-bar" *ngIf="ChatsWindow">
    <div class="bottom-container">
      <div class="attach-div" (clickOutside)="onClickedOutside($event)">
          <i class="material-icons attach" [class.attach-selected]="attachState" (click)="toggleMenu()">attach_file</i>
          <div class="dropup-menu" *ngIf="attachState">
            <div class="attach-items tooltip1">
                <i class="material-icons i1">add_photo_alternate</i>
                <span class="tooltiptext">Photo or Video</span>
            </div>
            <div class="attach-items tooltip1">
                <i class="material-icons i3">insert_drive_file</i>
                <span class="tooltiptext">Document</span>
            </div>
            <div class="attach-items tooltip1">
                <i class="material-icons i4">code</i>
                <span class="tooltiptext">Code <></span>
            </div>
            <div class="attach-items tooltip1">
                <i class="material-icons i2">poll</i>
                <span class="tooltiptext">Poll</span>
            </div>
          </div>
      </div>
        <input type="text" class="form-control input-bar" placeholder="Type a message here...">
        <i class="material-icons emoji" [class.attach-selected]="toggleState" (click)="toggle()">sentiment_satisfied_alt</i>
        <i class="material-icons send-btn">near_me</i>
    </div>
  </div>
</div>