<div class="homepage"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
    <div class="feed">
      <!-- Left column -->
      <div class="left">
        <!-- Topbox -->
        <div class="topbox">
          <div class="coverImg"></div>
          <div class="info">
            <div class="one">
              <div class="profile-img">
                <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754" alt="">
              </div>
              <div class="details">
                <h6 class="name">Mario Mendez</h6>
                <h6 class="username">@mario_mz</h6>
              </div>
            </div>
            <div class="two">
              <div>
                <h6>Followers</h6>
                <p>495</p>
              </div>
              <div>
                <h6>Following</h6>
                <p>220</p>
              </div>
            </div>
            <div class="three">
                Founder, Incubis inc. I'm a passionate digital entrepreneur with a deep affection for tech & startups!
            </div>
          </div>
        </div>
  
        <!-- Second box -->
        <div class="secondbox">
          <div>
            <a href="app/settings">21</a>
            <h6>People viewed your profile</h6>
          </div>
          <div>
            <a href="app/settings">9</a>
            <h6>Jobs recommended for you</h6>
          </div>
        </div>
  
        <!-- Third box -->
        <div class="thirdbox">
          <h4 class="topic">Who to Follow <a href="app">View all</a></h4>
          <div class="u-list" *ngFor="let i of people">
            <div class="imgs">
              <img src="https://content-static.upwork.com/uploads/2014/10/02123010/profilephoto_goodcrop.jpg">
            </div>
            <div class="details">
              <a href="app" class="name">Bharat Sharma</a>
              <h6 class="username">@bharat</h6>
            </div>
            <div class="follow">
              <h6>Follow</h6>
            </div>
          </div>
        </div>
  
  
      </div>
    
      <!-- Center column -->
      <div class="center" #center>
  
        <!-- Create post -->
        <div class="createpost">
          <!-- Main text input -->
          <div class="top">
              <div class="avatar">
                <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754" alt="">
              </div>
              <div class="input">
                <textarea type="text" [(ngModel)]="inputVal" placeholder="Write something..." maxlength="400" [class.textareaHeight]="inputVal.length > 0"></textarea>
              </div>
          </div>
          <!-- File preview -->
          <div class="mid" *ngIf="SelectedFile">
            <div class="filePreview" *ngIf="showThumb">
                <div [ngfBackground]="SelectedFile"
                style="background-size:cover; background-repeat:no-repeat; width:100px; height:100px; border-radius: 5px;"
                ></div>
                <i class="material-icons" (click)="removeFile()">close</i>
            </div>
            <div class="VideoPreview" *ngIf="showVid">                
                  <vg-player>
                      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                          <source [src]="videoUrl | safe: 'url'" type="video/mp4">
                      </video>
                  </vg-player>
                  <i class="material-icons" (click)="removeFile()">close</i>
            </div>
          </div>
          <!-- Create Poll -->
          <div class="CreatePoll" *ngIf="poll">
            <div class="option" *ngFor="let i of pollOptions;">
              <i class="material-icons radio">radio_button_checked</i>
              <input type="text" placeholder="Option {{i}}" maxlength="25">
              <i class="material-icons remove" *ngIf="i > 2" (click)="removeOption(i)">close</i>
            </div>
            <div class="addOption" (click)="addOption()">
              <i class="material-icons">add_box</i>
              <h6>Add Option</h6>
            </div>
            <div class="botm">
              <div class="lft"
              [popper]="PollTimePopper"
              [popperShowOnStart]="false"
              [popperTrigger]="'click'"
              [popperHideOnClickOutside]="true"
              [popperHideOnScroll]="false"
              [popperPlacement]="'bottom'"
              [popperApplyClass]="'timePopper'"
              [popperDisableStyle]="false"
              [popperPreventOverflow]="false"
              >
                <i class="material-icons">access_time</i>
                <h6>1 Day</h6>
                <i class="material-icons">arrow_drop_down</i>
              </div>
              <popper-content #PollTimePopper>
                <h6 class="selected">1 Day</h6>
                <h6>2 Day</h6>
                <h6>1 Week</h6>
              </popper-content>
              <div class="cntr"></div>
              <div class="ryt" (click)="HidePoll()">Remove Poll</div>
            </div>
          </div>

          <!-- Loaction display -->
          <div class="Location" *ngIf="location">
            <i class="material-icons">place</i>
            <h6>{{location}}</h6>
            <i class="material-icons clos" (click)="removeLoc()">cancel</i>
          </div>
          <div class="bottom">
            <div class="sec" ngfSelect [(file)]="SelectedFile" accept="image/*, video/mp4" (filesChange)="verifyFile()">
              <i class="material-icons">photo</i>
              <h6>Photo/Video</h6>
            </div>
            <div class="sec" (click)="ShowPoll()">
              <i class="material-icons">poll</i>
              <h6>Poll</h6>
            </div>
            <div class="sec"
            [popper]="LocationPopper"
            [popperShowOnStart]="false"
            [popperTrigger]="'click'"
            [popperHideOnClickOutside]="true"
            [popperHideOnScroll]="false"
            [popperPlacement]="'bottom'"
            [popperApplyClass]="'popperLocation'"
            [popperDisableStyle]="false"
            [popperPreventOverflow]="false"
            (popperOnShown)="popperShown()"
            >
              <i class="material-icons">location_on</i>
              <h6>Location</h6>
            </div>
            
            <!-- Loaction selection popover -->
            <popper-content #LocationPopper [ngClass]="popper">
              <div class="inpt">
                  <input type="text" placeholder="Enter Location" #LocationInput spellcheck="false">
                  <i class="material-icons">my_location</i>
              </div>
              <div class="places">
                <h6 (click)="selLocation(i)" *ngFor="let i of Locations">{{i}}</h6>
              </div>
            </popper-content>

            <div class="sec2"></div>

            <!-- Post button -->
            <div class="sec3">
                <button class="post">
                  <div class="count">
                      <round-progress
                      [current]="inputVal.length"
                      [max]="400"
                      [color]="'white'"
                      [background]="'917FFF'"
                      [radius]="11"
                      [stroke]="2"
                      [semicircle]="false"
                      [rounded]="false"
                      [clockwise]="true"
                      [responsive]="flase"
                      [class]="'circle'"
                      ></round-progress>
                  </div>
                  <h6>Post</h6>
                </button>
              </div>
          </div>
        </div>
  

        <!-- posts -->
        <div class="createpost">
          <app-post *ngFor="let i of dummy"></app-post>
        </div>
      </div>
    
      <!-- Right column -->
      <div class="right">
        right
      </div>
    </div>
  </div>
  