<div class="homepage">
    <div class="feed">
      <!-- Left column -->
      <div class="left">
        <!-- Topbox -->
        <div class="topbox">
          <div class="coverImg"></div>
          <div class="info">
            <div class="one">
              <div class="profile-img">
                <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754" alt="">
              </div>
              <div class="details">
                <h6 class="name">Mario Mendez</h6>
                <h6 class="username">@mario_mz</h6>
              </div>
            </div>
            <div class="two">
              <div>
                <h6>Followers</h6>
                <p>495</p>
              </div>
              <div>
                <h6>Following</h6>
                <p>220</p>
              </div>
            </div>
            <div class="three">
                Founder, Incubis inc. I'm a passionate digital entrepreneur with a deep affection for tech & startups!
            </div>
          </div>
        </div>
  
        <!-- Second box -->
        <div class="secondbox">
          <div>
            <a href="app/settings">21</a>
            <h6>People viewed your profile</h6>
          </div>
          <div>
            <a href="app/settings">9</a>
            <h6>Jobs recommended for you</h6>
          </div>
        </div>
  
        <!-- Third box -->
        <div class="thirdbox">
          <h4 class="topic">Who to Follow <a href="app">View all</a></h4>
          <div class="u-list" *ngFor="let i of dummy">
            <div class="imgs">
              <img src="https://content-static.upwork.com/uploads/2014/10/02123010/profilephoto_goodcrop.jpg">
            </div>
            <div class="details">
              <a href="app" class="name">Bharat Sharma</a>
              <h6 class="username">@bharat</h6>
            </div>
            <div class="follow">
              <h6>Follow</h6>
            </div>
          </div>
        </div>
  
  
      </div>
    
      <!-- Center column -->
      <div class="center">
  
        <!-- Create post -->
        <div class="createpost">
          <div class="top">
              <div class="avatar">
                <img src="https://img2.thejournal.ie/inline/2470754/original/?width=428&version=2470754" alt="">
              </div>
              <div class="input">
                <textarea type="text" [(ngModel)]="inputVal" placeholder="Write something..." maxlength="400" [class.textareaHeight]="inputVal.length > 0"></textarea>
              </div>
          </div>
          <div class="mid" *ngIf="SelectedFile">
            <div class="filePreview" *ngIf="showThumb">
                <div [ngfBackground]="SelectedFile"
                style="background-size:cover; background-repeat:no-repeat; width:100px; height:100px; border-radius: 5px;"
                ></div>
                <i class="material-icons" (click)="removeFile()">close</i>
            </div>
            <div class="VideoPreview" *ngIf="showVid">                
                  <vg-player>
                      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                          <source [src]="videoUrl | safe: 'url'" type="video/mp4">
                      </video>
                  </vg-player>
                  <i class="material-icons" (click)="removeFile()">close</i>
            </div>
          </div>
          <div class="bottom">
            <div class="sec" ngfSelect [(file)]="SelectedFile" accept="image/*, video/mp4" (filesChange)="verifyFile()">
              <i class="material-icons">photo</i>
              <h6>Photo/Video</h6>
            </div>
            <div class="sec">
              <i class="material-icons">poll</i>
              <h6>Poll</h6>
            </div>
            <div class="sec">
              <i class="material-icons">location_on</i>
              <h6>Location</h6>
            </div>
            <div class="sec2">
  
            </div>
            <div class="sec3">
              {{inputVal.length}}/400
            </div>
          </div>
        </div>
  
        <!-- posts -->
        
        <div class="createpost">
          <app-post></app-post>
          <app-post></app-post>
          <app-post></app-post>
        </div>
      </div>
    
      <!-- Right column -->
      <div class="right">
        right
      </div>
    </div>
  </div>
  